.contactButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 110px;
  height: 100px;
  margin: 10px 0 24px 24px;
  padding: 12px;
  border: 1px solid var(--grey-450);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-light-gray);
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  }

  &:active {
    background-color: var(--bg-middle-gray);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  }
}

.buttonText {
  margin-top: 8px;
  font: var(--font-tiny-400-tiny-line);
}

.active {
  background-color: var(--bg-light-gray);
}
