.addDocumentButton {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    height: 140px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white);

    .icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--yellow-1);
    }

    .title {
        color: var(--black-font);
        font: var(--font-small-400-tight);
    }
}
