.swiper-buttons {
  @include respond-to(mobile) {
    gap: 8px;
    margin-bottom: 16px;
  }

  display: flex;
  gap: 10px;
  margin-bottom: 24px;

  button {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: var(--button-gray-text);
    font: var(--font-s-500);

    &.active {
      background-color: var(--white);
      color: var(--black-font);
    }
  }
}