.canvas {
    display: none;
}

.cameraContainer {
    position: relative;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .output {
        position: absolute;
    }
}

