.buttonContainer {
  @include respond-to(mobile) {
    width: 100%;
  }

  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  width: 520px;
  height: 72px;
  padding: 0 12px;
  border-radius: 8px;
  background: var(--white);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buttonContainer:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 2%);
  transform: scale(0.99);
}

.appIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.buttonText {
  color: var(--black);
  font: var(--font-small-400-small-line);
}