.card {
  @include respond-to(mobile) {
    width: 100%;
  }

  display: flex;
  justify-content: flex-start;
  width: 168px;
  height: 120px;
  padding: 16px 12px;
  border-radius: 8px;
  background-color: var(--white);
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 2%);
  cursor: pointer;
  transform: scale(0.99);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardIcon {
  @include respond-to(mobile) {
    margin-bottom: 12px;
  }

  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.cardText {
  margin: 0;
  font: var(--font-small-400-18);
}
