.month {
    @include respond-to(mobile) {
        gap: 24px;
    }

    display: flex;
    flex-direction: column;
    gap: 32px;

    .title {
        @include respond-to(mobile) {
            font: var(--font-big-600-adaptiv);
        }

        color: var(--black);
        font: var(--font-medium-600);
        letter-spacing: -0.02em;
        text-align: left;
    }
}
