.documentCard {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white);

    .icon {
        position: relative;
        left: -4px;
        width: 32px;
        height: 32px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .title {
            color: var(--black);
            font: var(--font-base-500);
            letter-spacing: -0.02em;
        }

        .extraText {
            color: var(--grey-850);
            font: var(--font-small-400-tight);
        }
    }
}
