.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatarCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--yellow-1);
}

.avatarLetter {
  color: var(--button-black-text);
  font: var(--font-avatar-letter-small);
}